<div class="navbar">
  <div class="nav">
    <span class="nav-left"><a href="/">Tsana</a></span>
    <span class="nav-right"><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></span>
  </div>
</div>
