<div class="panel allprojectspanel">
  <h5>All Projects:</h5>
    <a href="/projects/new" class="button expand">New project</a>
    <% @projects.each do |project| %>
    <a href="/projects/<%= project.id %>" class="button expand"><%= project.name %></a>
    <% end %>
</div>
